Repository CatDesignProject/CUKZ-BE, pull requests merged in 2024-03, with the labels that each got.

#8 feat: [#6] 회원 가입 구현
  src/main/java/com/example/member/controller/MemberController.java
  src/main/java/com/example/member/dto/MemberRegisterRequestDto.java
  src/main/java/com/example/member/entity/Member.java
  src/main/java/com/example/member/repository/MemberRepository.java
  src/main/java/com/example/member/service/MemberService.java
  src/test/java/com/example/member/controller/MemberControllerTest.java
  src/test/java/com/example/member/entity/MemberTest.java
Labels: feat

#12 feat: [#7] 상품 등록, 상품 이미지 등록
  build.gradle
  src/main/java/com/example/config/s3/S3Config.java
  src/main/java/com/example/product/controller/ProductController.java
  src/main/java/com/example/product/dto/request/ProductRequestDto.java
  src/main/java/com/example/product/dto/response/ProductResponseDto.java
  src/main/java/com/example/product/entity/Goods.java
  src/main/java/com/example/product/entity/Jacket.java
  src/main/java/com/example/product/entity/Product.java
  src/main/java/com/example/product/enums/ProductType.java
  src/main/java/com/example/product/enums/SaleStatus.java
  src/main/java/com/example/product/enums/Size.java
  src/main/java/com/example/product/repository/ProductRepository.java
  src/main/java/com/example/product/service/ProductService.java
  src/main/java/com/example/product/service/ProductServiceImpl.java
  src/main/java/com/example/product_image/controller/ProductImageController.java
  src/main/java/com/example/product_image/dto/response/ProductImageResponse.java
  src/main/java/com/example/product_image/entity/ProductImage.java
  src/main/java/com/example/product_image/repository/ProductImageRepository.java
  src/main/java/com/example/product_image/service/ProductImageService.java
  src/main/java/com/example/product_image/service/ProductImageServiceImpl.java
  src/test/java/com/example/product/controller/ProductControllerTest.java
  src/test/java/com/example/product_image/controller/ProductImageControllerTest.java
Labels: feat

#13 Feature/form 수요조사 참여 API 구현
  src/main/java/com/example/demandForm/controller/DemandFormController.java
  src/main/java/com/example/demandForm/dto/DemandFormRequestDto.java
  src/main/java/com/example/demandForm/dto/DemandFormResponseDto.java
  src/main/java/com/example/demandForm/entity/DemandForm.java
  src/main/java/com/example/demandForm/repository/DemandFormRepository.java
  src/main/java/com/example/demandForm/service/DemandFormService.java
  src/main/java/com/example/member/entity/Member.java
  src/main/java/com/example/product/entity/Product.java
  src/main/java/com/example/purchaseForm/entity/PurchaseForm.java
  src/main/resources/application-test.yml
  src/test/java/com/example/demandForm/service/DemandFormServiceTest.java
Labels: feat

#14 feat: [#9] username password 로그인 구현
  src/main/java/com/example/member/controller/MemberController.java
  src/main/java/com/example/member/entity/Member.java
  src/main/java/com/example/member/repository/MemberRepository.java
  src/main/java/com/example/member/service/MemberService.java
  src/main/java/com/example/security/SecurityConfig.java
  src/main/java/com/example/security/authentication/AuthenticatedMember.java
  src/main/java/com/example/security/authentication/LoginProcessingFilter.java
  src/main/java/com/example/security/authentication/MemberAuthenticationToken.java
  src/main/java/com/example/security/authentication/UsernamePasswordAuthenticationProvider.java
  src/main/java/com/example/security/authentication/UsernamePasswordLoginDto.java
  src/test/java/com/example/security/authentication/AuthenticatedMemberTest.java
Labels: test, feat

#16 Feature/form [#3] 수요조사 참여 폼 조회 기능 구현
  src/main/java/com/example/common/exception/BaseErrorCode.java
  src/main/java/com/example/common/global/PageResponseDto.java
  src/main/java/com/example/demandForm/controller/DemandFormController.java
  src/main/java/com/example/demandForm/dto/DemandFormNonMemberRequestDto.java
  src/main/java/com/example/demandForm/dto/DemandFormRequestDto.java
  src/main/java/com/example/demandForm/repository/DemandFormRepository.java
  src/main/java/com/example/demandForm/service/DemandFormService.java
  src/test/java/com/example/demandForm/service/DemandFormServiceTest.java
Labels: test, feat, refactor

#17 feat : [#7] 상품 단건 조회, 수정 API 구현
  src/main/java/com/example/common/exception/BaseErrorCode.java
  src/main/java/com/example/member/entity/Member.java
  src/main/java/com/example/product/controller/ProductController.java
  src/main/java/com/example/product/dto/request/ProductRequestDto.java
  src/main/java/com/example/product/dto/response/ProductResponseDto.java
  src/main/java/com/example/product/entity/Goods.java
  src/main/java/com/example/product/entity/Jacket.java
  src/main/java/com/example/product/entity/Product.java
  src/main/java/com/example/product/repository/ProductRepository.java
  src/main/java/com/example/product/service/ProductService.java
  src/main/java/com/example/product/service/ProductServiceImpl.java
  src/main/java/com/example/product_image/controller/ProductImageController.java
  src/main/java/com/example/product_image/service/ProductImageService.java
  src/main/java/com/example/product_image/service/ProductImageServiceImpl.java
  src/test/java/com/example/product/controller/ProductControllerTest.java
  src/test/java/com/example/product/service/ProductServiceTest.java
  src/test/java/com/example/product_image/controller/ProductImageControllerTest.java
Labels: test, feat, refactor

#15 feat: [#6] 중복 아이디 검증
  src/main/java/com/example/common/config/s3/S3Config.java
  src/main/java/com/example/member/controller/MemberController.java
  src/main/java/com/example/member/dto/MemberRegisterRequestDto.java
  src/main/java/com/example/member/dto/VerifyUsernameDto.java
  src/main/java/com/example/member/entity/Member.java
  src/main/java/com/example/member/service/MemberService.java
  src/main/java/com/example/product_image/controller/ProductImageController.java
  src/main/java/com/example/product_image/service/ProductImageServiceImpl.java
  src/main/java/com/example/security/SecurityConfig.java
  src/main/resources/application.yml
Labels: feat, refactor

#18 feat: [#7] 상품 삭제 API 구현
  src/main/java/com/example/common/exception/BaseErrorCode.java
  src/main/java/com/example/product/controller/ProductController.java
  src/main/java/com/example/product/service/ProductService.java
  src/test/java/com/example/product/service/ProductServiceTest.java
Labels: test, feat

#21 feat: [#19] 시큐리티 필터 체인 인증, 인가 예외처리
  src/main/java/com/example/common/exception/BaseErrorCode.java
  src/main/java/com/example/security/SecurityConfig.java
  src/main/java/com/example/security/exception/CustomAccessDeniedHandler.java
  src/main/java/com/example/security/exception/CustomAuthenticationEntryPoint.java
Labels: feat

#25 feat: [#9] 로그인 성공, 실패 응답 핸들러 구현, 인증 객체 role 필드 추가
  src/main/java/com/example/security/SecurityConfig.java
  src/main/java/com/example/security/authentication/AuthenticatedMember.java
  src/main/java/com/example/security/authentication/CustomAuthenticationFailureHandler.java
  src/main/java/com/example/security/authentication/CustomAuthenticationSuccessHandler.java
  src/main/java/com/example/security/authentication/LoginProcessingFilter.java
  src/main/java/com/example/security/authentication/LoginSuccessResponseDto.java
  src/main/java/com/example/security/authentication/UsernamePasswordAuthenticationProvider.java
  src/test/java/com/example/security/authentication/AuthenticatedMemberTest.java
Labels: test, feat

#29 feat: [#28] 상품 API
  src/main/java/com/example/common/exception/BaseErrorCode.java
  src/main/java/com/example/product/controller/ProductController.java
  src/main/java/com/example/product/dto/ProductOptionDto.java
  src/main/java/com/example/product/dto/request/ProductRequestDto.java
  src/main/java/com/example/product/dto/response/ProductResponseDto.java
  src/main/java/com/example/product/dto/response/ProductThumbNailDto.java
  src/main/java/com/example/product/entity/Goods.java
  src/main/java/com/example/product/entity/Jacket.java
  src/main/java/com/example/product/entity/Option.java
  src/main/java/com/example/product/entity/Product.java
  src/main/java/com/example/product/enums/ProductType.java
  src/main/java/com/example/product/enums/SaleStatus.java
  src/main/java/com/example/product/enums/Size.java
  src/main/java/com/example/product/repository/OptionRepository.java
  src/main/java/com/example/product/repository/ProductRepository.java
  src/main/java/com/example/product/service/ProductService.java
  src/main/java/com/example/product_image/entity/ProductImage.java
  src/main/java/com/example/product_image/repository/ProductImageRepository.java
  src/test/java/com/example/product/TestBuilder.java
  src/test/java/com/example/product/service/ProductServiceTest.java
Labels: test, feat, refactor
